<%= simple_form_for @training, html: {multipart: true} do |f| %>
  <% if @training.errors.any? %>
    <div id="errors">
      <p>
        <%= @training.errors.count %>
        Prevented this Workout from saving
      </p>
      <ul>
        <% @training.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel-body">
    <%= f.input :date, input_html: {class: 'form-control'} %>
    <%= f.input :name, input_html: {class: 'form-control'} %>
    <%= f.input :description, input_html: {class: 'form-control'} %>
  </div>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
