<h1>
  <%= @training.date %>
</h1>
<p>
  <%= @training.name %>
</p>
<p>
  <%= @training.description  %>
</p>
<br/>
<%= render = "exercises/form" %>
<%= link_to "Back", trainings_path, class: "btn btn-default" %>
<%= link_to "Edit", edit_training_path, class: "btn btn-default" %>
<%= link_to "Delete", training_path, method: :delete, data:{confirm: "Are you sure"}, class: "btn btn-default" %>
